
html {
  position:relative;
  min-height: 100%;
}
header{
  background-color: #428dda;
  height: 3rem;
}
body{
  background-color: #e8e7f2
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #3f90be;
  opacity: 0.5;
}
.header_text{
  font-size: 2rem;
  color:#e5e6d9;
}
#form{
  margin-bottom: 30px;
}

#footer-top{
margin-bottom: 10%;
}
#index_color{
  background-color: #dee9c2;
}
